GATEWAY {
NAME=s_OPC UA Server
CYCLE=i_2
ISOCYCLES=s_{}
ISISO=False
USE64BIT=True
SIGNAL {
NAME=s_Iw_SliderValue
DIRECTION=IN
DATATYPE=integer
DEFAULT=i_0
INDEX=i_0
COMMENT=s_Schieber fuer variablen Eingabewert
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Ix_Enable
DIRECTION=IN
DATATYPE=binary
DEFAULT=False
INDEX=i_0
COMMENT=s_Taster Freigabe (variable Geschwindigkeit)
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Ix_Left
DIRECTION=IN
DATATYPE=binary
DEFAULT=False
INDEX=i_1
COMMENT=s_Taster links
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Ix_LSensorBlue
DIRECTION=IN
DATATYPE=binary
DEFAULT=False
INDEX=i_2
COMMENT=s_Linker Naeherungssensor Band blau
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Ix_LSensorOrange
DIRECTION=IN
DATATYPE=binary
DEFAULT=False
INDEX=i_3
COMMENT=s_Linker Naeherungssensor Band orange
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Ix_LSensorPurple
DIRECTION=IN
DATATYPE=binary
DEFAULT=False
INDEX=i_4
COMMENT=s_Linker Naeherungssensor Band lila
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Ix_LSensorYellow
DIRECTION=IN
DATATYPE=binary
DEFAULT=False
INDEX=i_5
COMMENT=s_Linker Naeherungssensor Band gelb
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Ix_ManAuto
DIRECTION=IN
DATATYPE=binary
DEFAULT=False
INDEX=i_6
COMMENT=s_Schalter manueller oder automatischer Betrieb (0=manuell)
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Ix_NotAus
DIRECTION=IN
DATATYPE=binary
DEFAULT=False
INDEX=i_7
COMMENT=s_NotAus Schalter
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Ix_Off
DIRECTION=IN
DATATYPE=binary
DEFAULT=False
INDEX=i_8
COMMENT=s_Taster Aus
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Ix_On
DIRECTION=IN
DATATYPE=binary
DEFAULT=False
INDEX=i_9
COMMENT=s_Taster Ein
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Ix_PowerOn
DIRECTION=IN
DATATYPE=binary
DEFAULT=False
INDEX=i_10
COMMENT=s_Hauptschalter
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Ix_Reset
DIRECTION=IN
DATATYPE=binary
DEFAULT=False
INDEX=i_11
COMMENT=s_Taster Reset
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Ix_Right
DIRECTION=IN
DATATYPE=binary
DEFAULT=False
INDEX=i_12
COMMENT=s_Taster rechts
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Ix_RSensorBlue
DIRECTION=IN
DATATYPE=binary
DEFAULT=False
INDEX=i_13
COMMENT=s_Rechter Naeherungssensor Band blau
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Ix_RSensorOrange
DIRECTION=IN
DATATYPE=binary
DEFAULT=False
INDEX=i_14
COMMENT=s_Rechter Naeherungssensor Band orange
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Ix_RSensorPurple
DIRECTION=IN
DATATYPE=binary
DEFAULT=False
INDEX=i_15
COMMENT=s_Rechter Naeherungssensor Band lila
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Ix_RSensorYellow
DIRECTION=IN
DATATYPE=binary
DEFAULT=False
INDEX=i_16
COMMENT=s_Rechter Naeherungssensor Band gelb
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_nDisplays
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_1
QUALITYINDEX=i_7
COMMENT=s_Byte 0: Display Oben, Byte 1: Display Links, Byte 2: Display Rechts
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_nLights
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_2
QUALITYINDEX=i_8
COMMENT=s_Bit 0: Grün, Bit 1: Gelb, Bit 2: Rot, Bit 3: Blau
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qw_VarSpeedBlue
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_3
QUALITYINDEX=i_9
COMMENT=s_Variable Geschwindigkeitsvorgabe Band blue
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qw_VarSpeedOrange
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_4
QUALITYINDEX=i_10
COMMENT=s_Variable Geschwindigkeitsvorgabe Band orange
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qw_VarSpeedPurple
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_5
QUALITYINDEX=i_11
COMMENT=s_Variable Geschwindigkeitsvorgabe Band lila
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qw_VarSpeedYellow
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_6
QUALITYINDEX=i_12
COMMENT=s_Variable Geschwindigkeitsvorgabe Band yellow
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_EnableVarSpeedBlue
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_0
QUALITYINDEX=i_13
COMMENT=s_Freigabe der variablen Geschwindigkeit Band blau
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_EnableVarSpeedOrange
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_1
QUALITYINDEX=i_14
COMMENT=s_Freigabe der variablen Geschwindigkeit Band orange
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_EnableVarSpeedPurple
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_2
QUALITYINDEX=i_15
COMMENT=s_Freigabe der variablen Geschwindigkeit Band lila
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_EnableVarSpeedYellow
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_3
QUALITYINDEX=i_16
COMMENT=s_Freigabe der variablen Geschwindigkeit Band gelb
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_FullSpeedBlue
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_4
QUALITYINDEX=i_17
COMMENT=s_Eilgang Band blau
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_FullSpeedOrange
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_5
QUALITYINDEX=i_18
COMMENT=s_Eilgang Band orange
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_FullSpeedPurple
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_6
QUALITYINDEX=i_19
COMMENT=s_Eilgang Band lila
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_FullSpeedYellow
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_7
QUALITYINDEX=i_20
COMMENT=s_Eilgang Band gelb
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_MotorAcwBlue
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_8
QUALITYINDEX=i_21
COMMENT=s_Motor dreht nach rechts (Gegenuhrzeigersinn Acw) Band blau
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_MotorAcwOrange
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_9
QUALITYINDEX=i_22
COMMENT=s_Motor dreht nach rechts (Gegenuhrzeigersinn Acw) Band orange
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_MotorAcwPurple
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_10
QUALITYINDEX=i_23
COMMENT=s_Motor dreht nach rechts (Gegenuhrzeigersinn Acw) Band lila
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_MotorAcwYellow
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_11
QUALITYINDEX=i_24
COMMENT=s_Motor dreht nach rechts (Gegenuhrzeigersinn Acw) Band gelb
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_MotorCwBlue
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_12
QUALITYINDEX=i_25
COMMENT=s_Motor dreht nach links (Uhrzeigersinn Cw) Band blau
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_MotorCwOrange
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_13
QUALITYINDEX=i_26
COMMENT=s_Motor dreht nach links (Uhrzeigersinn Cw) Band orange
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_MotorCwPurple
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_14
QUALITYINDEX=i_27
COMMENT=s_Motor dreht nach links (Uhrzeigersinn Cw) Band lila
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_MotorCwYellow
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_15
QUALITYINDEX=i_28
COMMENT=s_Motor dreht nach links (Uhrzeigersinn Cw) Band gelb
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_StopperLeftBlue
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_16
QUALITYINDEX=i_29
COMMENT=s_Stopper Blau Links
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_StopperLeftOrange
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_17
QUALITYINDEX=i_30
COMMENT=s_Stopper Orange Links
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_StopperLeftPurble
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_18
QUALITYINDEX=i_31
COMMENT=s_Stopper Violette Links
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_StopperLeftYellow
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_19
QUALITYINDEX=i_32
COMMENT=s_Stopper Gelb Links
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_StopperRightBlue
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_20
QUALITYINDEX=i_33
COMMENT=s_Stopper Blau Rechts
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_StopperRightOrange
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_21
QUALITYINDEX=i_34
COMMENT=s_Stopper Orange Rechts
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_StopperRightPurble
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_22
QUALITYINDEX=i_35
COMMENT=s_Stopper Violette Rechts
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_StopperRightYellow
DIRECTION=OUT
DATATYPE=binary
DEFAULT=False
INDEX=i_23
QUALITYINDEX=i_36
COMMENT=s_Stopper Gelb Rechts
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
QUALITYSIGNALS {
SIGNAL {
NAME=s_nDisplays.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_7
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_nLights.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_8
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qw_VarSpeedBlue.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_9
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qw_VarSpeedOrange.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_10
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qw_VarSpeedPurple.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_11
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qw_VarSpeedYellow.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_12
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_EnableVarSpeedBlue.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_13
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_EnableVarSpeedOrange.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_14
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_EnableVarSpeedPurple.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_15
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_EnableVarSpeedYellow.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_16
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_FullSpeedBlue.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_17
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_FullSpeedOrange.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_18
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_FullSpeedPurple.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_19
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_FullSpeedYellow.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_20
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_MotorAcwBlue.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_21
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_MotorAcwOrange.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_22
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_MotorAcwPurple.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_23
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_MotorAcwYellow.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_24
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_MotorCwBlue.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_25
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_MotorCwOrange.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_26
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_MotorCwPurple.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_27
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_MotorCwYellow.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_28
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_StopperLeftBlue.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_29
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_StopperLeftOrange.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_30
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_StopperLeftPurble.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_31
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_StopperLeftYellow.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_32
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_StopperRightBlue.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_33
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_StopperRightOrange.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_34
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_StopperRightPurble.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_35
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
SIGNAL {
NAME=s_Qx_StopperRightYellow.quality
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_36
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
}
SERVERSTATE {
SIGNAL {
NAME=s_is_active
DIRECTION=OUT
DATATYPE=integer
DEFAULT=i_0
INDEX=i_0
QUALITYINDEX=i_0
MULTIPLICATOR=i_1
HINT2=s_
IMPLCONN_SOURCE=s_
IMPLCONN_SIGNAL=s_
}
}
}

