SIMCONFIG {
SUBMODEL {
ASSEMBLY=s_Submodel1A.code
CLASSNAME=s_Siemens.Simit.Generated.Submodel1A
UNIT=i_1000011
USED=False
IP=s_localhost
CYCLEID=i_1
SUBCYCLEID=i_1
CYCLE=i_50
}
SUBMODEL {
ASSEMBLY=s_Submodel2A.code
CLASSNAME=s_Siemens.Simit.Generated.Submodel2A
UNIT=i_1000021
USED=True
IP=s_localhost
CYCLEID=i_2
SUBCYCLEID=i_1
CYCLE=i_10
TRANSFER {
ASSEMBLY=s_Transfer2000001to2A.code
CLASSNAME=s_Siemens.Simit.Generated.Transfer2000001to2A
SOURCE=i_2000001
}
}
SUBMODEL {
ASSEMBLY=s_Submodel3A.code
CLASSNAME=s_Siemens.Simit.Generated.Submodel3A
UNIT=i_1000031
USED=False
IP=s_localhost
CYCLEID=i_3
SUBCYCLEID=i_1
CYCLE=i_200
}
SUBMODEL {
ASSEMBLY=s_Submodel4A.code
CLASSNAME=s_Siemens.Simit.Generated.Submodel4A
UNIT=i_1000041
USED=False
IP=s_localhost
CYCLEID=i_4
SUBCYCLEID=i_1
CYCLE=i_400
}
SUBMODEL {
ASSEMBLY=s_Submodel5A.code
CLASSNAME=s_Siemens.Simit.Generated.Submodel5A
UNIT=i_1000051
USED=False
IP=s_localhost
CYCLEID=i_5
SUBCYCLEID=i_1
CYCLE=i_800
}
SUBMODEL {
ASSEMBLY=s_Submodel6A.code
CLASSNAME=s_Siemens.Simit.Generated.Submodel6A
UNIT=i_1000061
USED=False
IP=s_localhost
CYCLEID=i_6
SUBCYCLEID=i_1
CYCLE=i_1600
}
SUBMODEL {
ASSEMBLY=s_Submodel7A.code
CLASSNAME=s_Siemens.Simit.Generated.Submodel7A
UNIT=i_1000071
USED=False
IP=s_localhost
CYCLEID=i_7
SUBCYCLEID=i_1
CYCLE=i_3200
}
SUBMODEL {
ASSEMBLY=s_Submodel8A.code
CLASSNAME=s_Siemens.Simit.Generated.Submodel8A
UNIT=i_1000081
USED=False
IP=s_localhost
CYCLEID=i_8
SUBCYCLEID=i_1
CYCLE=i_6400
}
GATEWAY {
ASSEMBLY=s_Siemens.Simit.CS.OPCUAServer.dll
CLASSNAME=s_Siemens.Simit.CS.OPCUAServer.IOSOPCUAServer
UNIT=i_2000001
USED=true
NAME=s_OPC UA Server
DATAPATH=s_io\OPCUAServer1
REPLY_ADDRESS=s_localhost
CYCLEID=i_2
CYCLE=i_10
ISISO=false
ISCONNECTINGTORUNNINGINSTANCE=false
USE103EXTERNALCOUPLINGAPI=false
TRANSFER {
ASSEMBLY=s_Transfer2Ato2000001.code
CLASSNAME=s_Siemens.Simit.Generated.Transfer2Ato2000001
SOURCE=i_1000021
}
}
}
